[submodule "Socket-Messaging-Library"]
	path = Socket-Messaging-Library
	url = https://github.com/DeveloppeurPascal/Socket-Messaging-Library.git
[submodule "librairies"]
	path = librairies
	url = https://github.com/DeveloppeurPascal/librairies.git
[submodule "one-shot-tools"]
	path = one-shot-tools
	url = https://github.com/DeveloppeurPascal/one-shot-tools.git
[submodule "Socket-Messaging-Code-Generator"]
	path = Socket-Messaging-Code-Generator
	url = https://github.com/DeveloppeurPascal/Socket-Messaging-Code-Generator.git
