[submodule "DzHTMLText"]
	path = DzHTMLText
	url = https://github.com/digao-dalpiaz/DzHTMLText.git
[submodule "skia4delphi"]
	path = skia4delphi
	url = https://github.com/skia4delphi/skia4delphi.git
[submodule "AboutDialog-Delphi-Component"]
	path = AboutDialog-Delphi-Component
	url = https://github.com/DeveloppeurPascal/AboutDialog-Delphi-Component.git
[submodule "DeepL4Delphi"]
	path = DeepL4Delphi
	url = https://github.com/DeveloppeurPascal/DeepL4Delphi.git
[submodule "Delphi-DBExtend-Library"]
	path = Delphi-DBExtend-Library
	url = https://github.com/DeveloppeurPascal/Delphi-DBExtend-Library.git
[submodule "Delphi-FMXExtend-Library"]
	path = Delphi-FMXExtend-Library
	url = https://github.com/DeveloppeurPascal/Delphi-FMXExtend-Library.git
[submodule "Delphi-Game-Engine"]
	path = Delphi-Game-Engine
	url = https://github.com/DeveloppeurPascal/Delphi-Game-Engine.git
